body,
root,
app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: #669885;
}
.app {
  display: flex;
}
.content-wrapper {
  width: 60%;
  padding: 1em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
